.details__item{
  display: none;
  padding: 4% 12%
}
.details__item-active{
  display: block;
}
.details__item-text{
  display: flex;
}
.txt__left{
  min-width: 200px;
  font-size:16px;
  color: #81868E;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.details__item .description{
  padding: 0;
  margin: 0% 6%;
  max-width: 520px;
  font-size: 16px;
  color: #81868E;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.details__footer{
  display: flex;
  align-items: center;
}
.details__content .button{
  margin: 0;
}
.details__footer-text{

  font-size: 20px;
  color: white;
}
.details__footer{
  display: flex;
  width: 100%;
  height: 112px;
  background: url(../img/details_footer.png);
  align-items: center;
  justify-content: space-around;
  padding: 0 5%;
  .button{

    @keyframes btn_reverse_text {
      0%{letter-spacing:-0.1em;}
      50%{letter-spacing: 0.26em;}
      100%{letter-spacing:-0.1em;}
    }
    &:hover{
      background-color: white;
      color: #1eaa8d;
      animation-name: btn_reverse_text;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
    }
  }
}
.details__content{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details{
    background-color: #f3f3f3;
}
.buttons-wrapper{
  width: 215px;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
}



.heart{
  background: url(../img/heart.png) no-repeat;
  width: 26px;
  height: 22px;
  position: relative;
  top: 1%;
  left: 0%;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}
@keyframes turning_heart {
  33%{top: 17%;left: 17%;}
  66%{top: 17%;left: -12%;}
  100%{top: -2%;left: 0%;}
}
.mouse{
  background: url(../img/mouse.png) no-repeat;
  width: 16px;
  height: 30px;
  position: relative;
  top: 0%;
  left: 0%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.lamp{
  background: url(../img/lamp.png) no-repeat;
  width: 20px;
  height: 30px;
  position: relative;
  top: -2%;
  left: 0%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
