.about{
    background: #fff;
}
.ipad--wrapper{
    @include phones{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;}
}
.ipad{
    
}

.about__content{
  display: flex;
  padding: 7rem calc(115% - 81.75rem);
  max-width: 850px;
  margin: auto;
  box-sizing: content-box;
  .button{
      @include tablets{
          margin: 0 auto;margin-top: 20px;}
    margin-top: 20px;
    border-color: black;
    color: black;

    
    &:hover{
      animation-name: anim;
      background-color: black;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      background-color: black;
      color: white;
    }
  }
    @include tablets{
        flex-direction: column-reverse;
        align-items: center;
        padding: 4.5rem calc(115% - 81.75rem);
        padding-top: 30px;
    }
    @include phones{
        padding: 2rem calc(115% - 81.75rem);
    }
}
@keyframes anim {
      50% {background-color: white;color: black;}
      100%{background-color: black;color: white;}
    }
.about__content-left{
  padding-left: 15px;
  text-align: left;
  padding-right: calc(25% - 100px);
    
    @include tablets{
        padding-right: 15px;
        max-width: 400px;
    }
}
.about__content .title{
  padding-top: 5%;
  text-align: left;
    @include tablets{
        text-align: center;
    }
}
