.contact{
        background: #f3f3f3;
}
.contact__container{
    display: flex;
    justify-content: space-between;
    padding: 0 calc(50% - 470px);
    margin: 0 10px;
    margin-bottom: 80px;
    height: 260px;
    @include phones{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}
.contact__item{
    width: 285px;
    height: 100%;
    background: #fff;
    margin-left: calc(17% - 100px);
    &:nth-child(1){
        margin: 0;
    }
    @media(max-width:720px){
        width: 32%;
        margin: 0;
    }
    @include phones{
        width: 280px;
        height: 300px;
        margin-top: 40px;
        &:nth-child(1){
            margin-top: 40px;
        }
    }
}
.c-img{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact-img-1{
    background: url(./img/email.png);
}
.contact-img-2{
    background: url(./img/office.png);
}
.contact-img-3{
    background: url(./img/phone.png);
}
.contact-email{
    background: url(./img/contact-email.png);
    width: 42px;
    height: 28px;
    @include tablets{width: 2.8rem; height: 1.86rem;}
    @include phones{width: 3rem; height: 2rem;}
}

       
    

.contact-office{
    background: url(./img/contact-office.png);
    width: 34px;
    height: 50px;
    @include tablets{width: 2.26rem; height: 3.33rem;}
    @include phones{width: 2.42rem; height: 3.57rem;}
}
.contact-phone{
    background: url(./img/contact-phone.png);
    width: 40px;
    height: 46px;
    @include tablets{width: 2.6666rem;height: 3.06rem;}
    @include phones{width: 2.85rem; height: 3.28em;}
}
.contact__title{
    text-transform: uppercase;
    color:#464646;
    text-align: center;
    margin-bottom: 15px;
}
.contact__subtitle{
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #81868e;
    @media(max-width:720px){
        font-size: 0.7rem;
    }
    @include phones{
        font-size: 1rem;
    }
    &:hover{
        color: darkorange;
    }
}
.contact__text{
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     @include phones{
        font-size: 1.5rem; 
    }
}