.details__item{
  display: none;
  padding: 35px 0;
  min-height: 400px;
}
.details__item--active{
  animation-name: text-appearence;
  animation-duration: 1.5s;
  display: block;
}
@keyframes text-appearence{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.details__item__text{
  display: flex;
    @include tablets{
        flex-direction: column;
    }
}
.txt__left{
    min-width: 265px;
    max-width: 335px;
    font-size: 1rem;
    color: #81868E;
    letter-spacing: 0.1em;
    line-height: 1.8;
}
.details__item .description{
    padding: 0;
    margin-left: 40px;
    max-width: 550px;
    font-size: 1rem;
    color: #81868E;
    letter-spacing: 0.1em;
    line-height: 1.8;
    @include tablets{
        margin: 0;
        margin-top: 15px;
    }
    
}

.details__content .button{
  margin: 0;
}
.details__footer-text{
  margin-left: 10px;
  font-size: 20px;
  color: white;
  @include font_decreasing {
        font-size: 1rem;
    }
  @include phones{
        text-align: center;
        margin: 0;
        padding: 0 5px;
    }
}
.details__footer{
  display: flex;
  align-items: center;
  padding: 0 calc(50% - 500px); 
  width: 100%;
  height: 112px;
  background: url(../img/details_footer.png);
  justify-content: space-evenly;
  .button{
    margin-right: 10px;
    @keyframes btn_reverse_text {
      0%{letter-spacing:-0.1em;}
      50%{letter-spacing: 0.26em;}
      100%{letter-spacing:-0.1em;}
    }
    &:hover{
      background-color: white;
      color: #1eaa8d;
      animation-name: btn_reverse_text;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
        @include tablets{
            animation-duration: 0s;
        }
    }
  }
    @include phones{
        flex-direction: column;
    }
    
}
.details__content{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.details{
    background-color: #f3f3f3;
}
.buttons-wrapper{
  width: 215px;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
}



.heart{
  background: url(../img/heart.png) no-repeat;
  width: 26px;
  height: 22px;
  position: relative;
  top: 1%;
  left: 0%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
    @include tablets{
        width: 1.733rem;
        height: 1.466rem;
    }  @include phones{
        width: 1.857rem;
        height: 1.5714rem;
    } 
}
@keyframes turning_heart {
  33%{top: 17%;left: 17%;}
  66%{top: 17%;left: -12%;}
  100%{top: -2%;left: 0%;}
}
.mouse{
  background: url(../img/mouse.png) no-repeat;
  width: 16px;
  height: 30px;
  position: relative;
  top: 0%;
  left: 0%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
    @include tablets{
        width: 1.066rem;
        height: 2rem;
    }
    @include phones{
        width: 1.142rem;
        height: 2.142rem;
    }
}
.lamp{
  background: url(../img/lamp.png) no-repeat;
  width: 20px;
  height: 30px;
  position: relative;
  top: -2%;
  left: 0%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
    @include tablets{
        width: 1.33rem;
        height: 2rem;
    }
    @include phones{
        width: 1.428rem;
        height: 2.142rem;
    }
}
