
.first{
  height: 100vh;
  background: url(./img/background.png) 50% 50% no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
    @media(max-width:850px){
            background-position-x: 30%;
    }
}
.first__title{
  padding-left: 7px;
  font-weight: 400;
  font-family: SSP;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.first__subtitle{
  margin-top: 20px;
  padding: 0 30%;
  color: white;
    @include tablets{
        padding: 0 20%;
    }
}
.first_arrow{
  display: block;
  width: 36px; 
  height: 36px;
    @include tablets{ 
        width: 2.4rem; 
        height: 2.4rem;
    }
    @include phones{
        width: 2.571rem; 
        height: 2.571rem;
    }
}
#ellipse{
    &:hover{
        filter: sepia(1);
    }
}
.arrow_down{
  transform: translate(0px, -32px);
  fill: #fff;
  width: 10px;
  height: 11px;
    @include tablets{ 
        width: 0.66rem; 
        height: 0.73rem;
        transform: translate(0px, -30px);
    }
    @include phones{
        width: 0.714rem; 
        height: 0.785rem;
    }
}
.arrow_svg{
  position: relative;
  top: -80%;
  fill: white;
}
.first__anim{
  animation-name: ani;
  animation-timing-function: ease;
  height: 36px;
  position: absolute;
  bottom: 10%;
  animation-duration: 3s;
  animation-iteration-count: infinite;
    @include tablets{ 
        height: 2.4rem;
    }
    @include phones{
        height: 2.571rem;
    }

  @keyframes ani {
    50%{bottom:5%;}
    100%{bottom:10%;}
  }
}