#map {
  height: 100%;
}
.portfolio{
    background-color: #f3f3f3;
} 
.btn-wrapper{
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &:nth-child(1){
        margin: 0;
    }
}
#allworks{margin-left: 0;}
.portfolio__button{
    color:#464646;
    margin-left: 25px;
    display: block;
    &--active{    
    border-bottom: solid;
    border-width: 2px;
    border-color: #19bd9a;
    }
    @include tablets{
        margin-top: 10px;
    }
}
.portfolio__container{
    margin: 0 10px;
    
}


.portfolio__works{
    min-height: 670px;
    overflow: hidden;
    margin:0 auto;
    margin-top: 75px;
    max-width: 1110px;
    column-count: 4;
    column-gap: 10px;
    @include tablets{
        column-count: 3;
    }
    @media(max-width:550px){
        column-count: 2;
        column-gap: 5px;
        min-height: 700px;
    }
    &:nth-child(6){
        @media(max-width:600px){
            display: none;
        }
    }
    
}

.portfolio__item{
    display: block;
    position: relative;
    margin-bottom: 5px;
    &:hover{
        .hidden{
        animation-name: brightness;
        animation-duration: 1s;
        display:flex;
        opacity: 0.8;
        }
    }
    &--active{
        display: block;
    }
    @media(max-width:550px){
        margin: 0;
    }
}
    @keyframes brightness{
            0%{opacity: 0;}
        100%{opacity: 0.8;}
        
    }    
.portfolio__img{
    width: 100%;
    object-fit: cover;
}
.hidden{
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:calc(100% - 5px);
    background: black;
    
}
.hidden__link--wrapper{
    position: relative;
    display: flex;
}
.hidden__title{
    position: relative;
    color: #19bd9a;
    text-transform: uppercase;
    font-family: "SSP";
    font-size: 20px;
    letter-spacing: 0.2em;
    @media(max-width:350px){
            font-size: 1.05rem;
        }
    &:after{
        content: "";
        position: absolute;
        top: 28px;
        left: 0px;
        background: #19bd9a;
        width: 23px;
        height: 1px;
        @media(max-width:350px){
            content: none;
        }
    }
}
.hidden__text{
    color: #b2b3b3;
    font-size: 12px;
    @media(max-width:350px){
        font-size: 0.6rem;
    }
}

.portfolio__footer{
    margin: auto;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    text-align: center;
    background: url(./img/portfolio_footer.png);
    .button{
        &:hover{
            animation-duration: 1.5s;
            animation-name: button_color;
            background: #fff;
            border-color: #19bd9a;
            color: #19bd9a;
            @keyframes button_color{
                0%{ background: #19bd9a;;
                    border-color: #fff;
                    color: #fff;}
                100%{background: #fff;
                     color: #19bd9a;}
            }
        }
    }
}

.portfolio__footer__title{
    font-size: 20px;
    padding-bottom: 30px;
}

.like{
    position: relative;
    background:url(./img/like.png);
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position-x: center;
}
.link{
    @extend .like;
    background:url(./img/link.png);
    margin: 0;
    background-repeat: no-repeat;
    background-position-x: center;
}
.hidden__link{
    background: #19bd9a;
    opacity: 0.4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    &:hover{
        background: #a92121;
    }
}
.img-to-delete{
    @include tablets{
        display: none;
    }
}






