.price{
    background: #f3f3f3;
}
.price__container{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 calc(50% - 420px);
    @media(max-width:720px){
        height: 280px;
    }
}
@keyframes price-appearence{
        0%{opacity: 0;}
        100%{opacity: 1;} 
    }
.price__item{
    background: #fff;
    width: 14.68rem;
    height: 18.75rem;
    &:hover{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        .price__description--hidden{
            display: block;
            animation-duration: 2s;
            transition-timing-function:ease-in;
            animation-name: price-appearence;
        }
        .price__button--hidden{
            display: block;
            animation-duration: 2.5s;
            transition-timing-function:ease-in;
            animation-name: price-appearence;
            
        }
        .price__title{
            display: none;
            }
        .price__cost{
            display: none;
        }
    }
    @media(max-width:720px){
        width: 32%;
        height: 95%;
    }
}
.price__title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: "OpenSans-Bold";
    background: #19bd9a;
    color: #fff;
    width: 100%;
    height: 28%;
}
.price__cost{
    text-align: center;
    color: #81868e;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price__title__cost{
    font-family: "SSP-Black";
    font-size: 2.6rem;
    color: #1fbba6;
}
.price__description--hidden{
    display: none;
    color: #81868e;
    font-size: 14px;
    padding-right: 14%;
    padding-top: 8%;
    line-height: 2em;
    
}
.price__button--hidden{
    display: none;
    background: #19bd9a;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 4.375rem;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    &:hover{
        border-color:#19bd9a;
        background: #fff;
        color: #19bd9a;
        
        
    }

}
@keyframes colorus{
    0%{background: #19bd9a;color: #fff;}
    100%{background: #fff;color: #19bd9a;}
        }

.subscribe{
    background-image: url(../img/price_submit.png);
    width: 100%;
    height: 100%;
    margin-top: 9%;
}
.subscribe h2 {
    color: #fff;
}
.subscribe--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 370px; 
    background-color: black;
    opacity: 0.8;
    
    .subtitle{
        margin-bottom: 50px;
        @include phones{
            width: auto;
            margin: 1.25rem 7px;
        }
    }
    h2{
        padding-top: 0;
    }
}

.subscribe__textarea{
    outline: none;
    overflow: hidden;
    width: 360px;
    height: 40px;
    border: 1px solid #fff;
    background: transparent;
    resize: none;
    color: #fff;
    padding: 9px 11px;
    margin-right: 20px;
    font-family: "SSP";
    font-size: 16px;
    &::placeholder{
        color: #fff;
        font-size: 16px;
        font-family: "SSP";
        margin-bottom: 5px;
    }
    @include phones{
        width: 350px;
    }
}
.email{
    display: flex;
    @media(max-width:720px){
        flex-direction: column;
        align-items: center;
        .submit{
            margin-top: 20px;
        }
    }
    @include phones{
        .subscribe__textarea {margin: 0;}
    }
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14px;
    background: #19bd9a;
    color: #fff;
    width: 9.375rem;
    height: 2.5rem;
}
















