.service {
    background-color: #f3f3f3;
    padding: 0;
}
.service__button {                        
        border-radius: 50%;
        background-color: #81868e; 
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
    &--active{
        background-color: rgb(25, 189, 154);
    }
    &:hover{
        background-color: rgb(25, 189, 154);
    }
    @include tablets{
            width: 3.5333rem;
            height: 3.5333rem;
        }
        @include phones{
            width: 3.7855rem;
            height: 3.7855rem;
        }
}
.mixitup-control-active{
    display: block;
}
.service__item {
    display: none;
    margin-left: 20px;
    padding-right: 10px;
  &--active {
    animation-name: text-appearence;
    animation-duration: 1.5s;
    display: block;
  }
    h3{
        padding-bottom: 0.875rem;
        @include tablets{
            padding-top: 2.25rem;
        }
    }
    @media(max-width:560px){
        margin: 0;
    }
}
.tool {
  background: url(../img/tool.png) no-repeat;
  width: 27px;
  height: 27px;
    @include tablets{
        width: 1.8rem;
        height: 1.8rem;
    }
    @include phones{
        width: 1.928rem;
        height: 1.928rem;
    }
  }
 .design{
  background: url(../img/design.png) no-repeat;
  width: 25px;
  height: 28px;
     @include tablets{
            width: 1.66rem;
            height: 1.866rem;
        }
     @include phones{
            width: 1.785rem;
            height: 2rem;
        }
  }
 .gamepad{
  background: url(../img/gamepad.png) no-repeat;
  width: 27px;
  height: 33px;
     @include tablets{
            width: 1.8rem;
            height: 2.2rem;
        }
     @include phones{
            width: 1.928rem;
            height: 2.35rem;
        }
  }
 .cable{
  background: url(../img/cable.png) no-repeat;
  width: 25px;
  height: 26px;
  position: relative;
  left: 5%;
     @include tablets{
            width: 1.66rem;
            height: 1.733rem;
        }
     @include phones{
            width: 1.785rem;
            height: 1.85rem;
        }
  }
.service h3{
  padding-top: 20px;
}
.service p{
  padding-top: 32px;
}
.service-text{
  line-height: 1.6;
  max-width: 400px;
  min-height: 235px;
  color: #81868E;
  text-align: justify;
    @media(max-width:650px){
        max-width: 22rem;
    }
}
.service__container-1{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 350px;
    @media(max-width:560px){
        flex-direction: column;
        height: 600px;
    }
}
.service__left{
    display: flex;
    padding-right: calc(25% - 300px);
    
}
.service__buttons{
    height: 265px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media(max-width:560px){
        flex-direction: row;
        height: auto;
        width: 300px;
    }
    
}
.service__right{
    flex: 1;
    display: flex;
    max-width: 450px;
    justify-content: space-between;
    align-items: center;
    @media(max-width:800px){
        flex-direction: column;
        position: relative;
        top: 95px;
    }
    @media(max-width:560px){
        position: unset;
        flex-direction: row;
        width: 23.5rem;
    }
    @include slippers{
        width:21.5rem;
    }
}
.default-circle{ 
    display: flex;
    width: 130px;
    height: 130px;
    background-position: 50% 50%;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    @include tablets{
        width: 8.6rem;
        height: 8.6rem;
    }
    @include phones{
        width: 9.285rem;
        height: 9.285rem;
        font-size: 2.2rem;
    }
}
.branding-img{
    background-image: url(../img/circle_branding.png);
    position: absolute;
    width: inherit;
    height: inherit;
    background-position: 50.2% 50.3%;
    
}
.web-img{
    background-image: url(../img/circle_web.png);
    position: absolute;
    width: inherit;
    height: inherit;
    background-position: 50.1% 50.2%;
}
.ui-img{
    background-image: url(../img/circle_ui.png);
    background-repeat: no-repeat;
    position: absolute;
    width: inherit;
    height: inherit;
    background-position: 20% 54.1%;
}
.service__circle{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #81868E;
    @media(max-width:800px){
        margin-top: 5px;
        &:nth-child(1){margin-top: 0;}
    }
    @media(max-width:560px){
        margin-top: 0;
        transform: scale(0.8);
        width: 32%;
        height: 100%;
        font-size: 1.3rem;
    }
    
}
.service__subtitle{
    font-family: "Roboto";
    position: relative;
    top: 18px;
    letter-spacing: 0.05em;
    @media(max-width:800px){
        top: 0;
    }
}
.service__container-2{
    background: url(../img/man.png); 
    margin-top: 140px;
    display: flex;
    justify-content: space-evenly;
    background-position-x: center;
    @media(max-width:800px){
        min-height: 240px;
        margin: 0;
    }
}
.procent{
    font-size: 14px;
    position: relative;
    top: 4px;
}
.service__title{
    font-family: "SSP";
    font-size: 20px;
    letter-spacing: 4px;
    color: #f3f3f3;
    text-transform: uppercase;
}
.hidden-mac{
    display: none;
    @media(max-width:800px){
        display: block;
        margin-left: 70px;
        transform: scale(1);
    }
    @media(max-width:650px){
        margin-left: 10px;
    }
    @media (max-width:560px){
        display: none;
    }
    
}
.mac{
    position: relative;
    top: -38px;
    width: 409px;
    height: 329px;
    margin-right: 15px;
    margin-left: 10px;
    @media(max-width:800px){
        display: none;
    }
}
.service__container-2--left{
    padding-top: 22px;
    margin-left: 10px;
    margin-right: 10px;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @media(max-width:560px){align-items: center;}
}
.service .description{
    padding: 0;
    max-width: 600px;
    font-size: 16px;
    @media(max-width:560px){text-align: center; padding: 0 10px;}
}
.service__author{
    text-transform: uppercase;
    color: #81868E;
    padding-top: 0;
    font-size: 14px;
}
.author-color{
    color: #b2b3b3;
    font-family: "OpenSans-Bold";
}
.service__author p{
    padding: 0;
    margin-top: 5px;
}
