.team{background:#fff;}
.swiper-slide{
    display: block;
    padding: 0 calc(35% - 315px);
    width: 100%;
    &--active{
//        animation-name: items;
//        animation-duration: 2s;
//        animation-timing-function: linear;
//        animation-iteration-count: 1;
//        animation-fill-mode: both;
//        display: block;
//        .team__item--wrapper{
//            display: flex;
//        }
        
    }
    .team__item--wrapper{
            display: flex;  
        }
        
        @keyframes items{
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    @media(max-width:720px){
        .team__item--wrapper{flex-direction: column;align-items: center;}
    }
}
.team__item--right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
    @media(max-width:720px){
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}
.switcher__container{
    display: flex;
    justify-content: center;
}

.team__subtitle p{
    text-align: right;
    
    @media(max-width:720px){
        text-align: center;
    }
}
.swiper-container{
    padding: 10px 15px;
    color:#81868E;
    padding-bottom: 9.25rem;
}
.team__name{
    font-size: 20px;
    padding-top: 3%;
    letter-spacing: 0.06em;
    color: #565151;
    position: relative;
    &:before{ 
        content: "";
        background-image: url(./img/rectangle.png);
        height: 42px;
        width: 4px;
        position: absolute;
        right: -35px;
        margin-top: 5px;
        @media(max-width:720px){
        content: none;
        }
    }
}
.team__career{
    text-transform: uppercase;
    font-size: 14px;
    font-family: "OpenSans-Italic"; 
    letter-spacing: 0.1em;
}
.team__subtitle{
    font-size: 15px;
    padding: 33px 0;
    line-height: 24px;
    @media(max-width:720px){
        padding: 33px 10%;
        text-align: center;
    }
}
.lvl__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lvl__item{
    width: 20.625rem;
    text-transform: uppercase;
    font-family: "SSP";
    padding-bottom: 8%;
    letter-spacing: 0.1em;
    flex-wrap: wrap;
    display: flex;
    
}
.lvl__line{
    background: url(./img/lvl_default.png);
    width: 100%;
    height: 4px;
    margin-top: 5px;
}
.lvl__line-branding-1{
    background: url(./img/lvl_branding.png);
    width: 80%;
    height: 4px;
}
.lvl__line-web-1{
    background: url(./img/lvl_web.png); 
    width: 65%;
    height: 4px;
}
.lvl__line-ui-1{
    background: url(./img/lvl_ui.png);
    width: 80%;
    height: 4px;
}
.lvl__line-branding-2{
    background: url(./img/lvl_branding.png);
    width: 80%;
    height: 4px;
}
.lvl__line-web-2{
    background: url(./img/lvl_web.png); 
    width: 95%;
    height: 4px;
}
.lvl__line-ui-2{
    background: url(./img/lvl_ui.png);
    width: 65%;
    height: 4px;
}
.lvl__line-branding-3{
    background: url(./img/lvl_branding.png);
    width: 90%;
    height: 4px;
}
.lvl__line-web-3{
    background: url(./img/lvl_web.png); 
    width: 70%;
    height: 4px;
}
.lvl__line-ui-3{
    background: url(./img/lvl_ui.png);
    width: 60%;
    height: 4px;
}
.lvl__item-procent{
    text-align: end;
    width: 50%;
    display: block;
}
.lvl__item--left{
    width: 50%;
    display: block;
}
.team--img-1{
    max-width: 290px;
    max-height: 365px;
    object-fit: cover;
}

.swiper-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 15px;
    
}
.team__switcher{
    background: url(./img/team__circle.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    &:hover{
        background: url(./img/team__circle-active.png);
        background-repeat: no-repeat;
        background-position: center;
        
    }
}
.team__switcher--active{
    background: url(./img/team__circle-active.png);
    background-repeat: no-repeat;
    background-position: center;
    transform:scale(1.4);
}
.team__img--wrapper{
    width: 285px;
    height: 365px;    
}
.team__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__footer{
    background: url(./img/team__footer.png);
    width: 100%;
    height: 210px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background-size: cover;
}
.team__footer--title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.team__footer .button {
    position: relative;
    &:hover{
    font-weight: 900;
    animation-name: anims;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
    }
    @keyframes anims {
      50% {background-color: white;color: black;}
      100%{background-color: transparent;color: white;}
    }
}










