@import './scss/*.scss';  
@import 'media.scss';

$baseFont: 16px;                 
$baseFamily:"OpenSans-Regular";

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: $baseFont;
    font-family: $baseFamily;
    overflow-x: hidden;
    @include tablets{
        font-size: $baseFont - 1px;
    }    
    @include phones{
        font-size: $baseFont - 2px; 
    }
}
body{
    background: #f3f3f3;
}
 section {
    padding: 0 calc(50% - 683px);}
     
    h2{
        padding-top: 5.4%;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 0.14em;
        font-weight: 100;
        font-family: SSP;
        text-align: center;
    }
    h3{
        font-size: 21px;
        font-family: "OpenSans-Regular";
        font-weight: 100;
        letter-spacing: 0.03em;          
        padding-bottom: 30px;
    }
    .subtitle{
        max-width: 400px;
        margin: 20px auto;
        margin-bottom: 70px;
        text-align: center;
        color: #81868e;
        padding: 0 10px;
        @include tablets{
            margin-bottom: 2rem;
        }
        @include phones{
            margin: 15px auto;
        }
    }
    .description{
        font-size: 1rem;
        color: #81868e;           
        padding-top: 7.5%;           
        line-height: 1.8;
    }
    .button{
        color: white;
        padding-top: 6px;
        display: block;
        height: 38px;
        width: 142px;
        border-radius: 20px;
        border-color: white;
        border-style: solid;
        border-width: 1px;
        text-align: center;
        cursor: pointer;
    }         
    button{   
        outline: none;  
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
            
    }
    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
   }
    svg{
        width: 36px; 
        height: 36px;
        @include tablets{
            width: 2.4rem; 
            height: 2.4rem;
        }
        @include phones{
        width: 2.571rem; 
        height: 2.571rem;
        }
    }  
     
    .circle__button {                        
        border-radius: 50%;  
        background-color: #81868e; 
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        @include tablets{
            width: 3.5333rem;
            height: 3.5333rem;
        }
        @include phones{
            width: 3.7855rem;
            height: 3.7855rem;
        }
        
        &:hover { 
            background-color: rgb(25, 189, 154);
        .heart {
            animation-name: turning_heart;
             }
        .mouse { 
            animation-name: turning_heart;
             }
        .lamp {
            animation-name: turning_heart;
             }
        }      
    }
    .c-active{
      background-color: rgb(25, 189, 154);
        }                          
                                                                                                                                                 
                                                                                                    
                                   
                           
               